* {
  box-sizing: border-box;
  cursor: crosshair;
  font-size: 100%;

}

*::selection {
  background-color: white;
  color: black;

}

html, body {
  background-color: black;
  font-family: sans-serif;
  color: white;
  margin: 0 auto;
  /* overflow: overlay; */
  height: 100%;
}

/* IDK WHAT 2 CALL THIS.. BUT Y'KNOW */

img, video {
  max-width:100%;
  /* width: auto !important; */
  /* max-height: 100%; */
  /* min-height: 100%; */
  /* height: auto !important; */
}

video {
  object-fit: fill;
}

a {
  color: inherit;

}

a:hover {
  /* background-color: white; */
  /* color: black; */
  cursor: pointer;
}

p, ul, li {
  font-family: 'Terminal', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.3rem;
}

h1, h2, h3 {
  font-family: 'Basteleur', serif ;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 3rem;

}

h2 {

}

h3 {

}



ul {
    list-style: none;
    /* margin-left: -3em; */
    /* list-style-position: inside; */
    /* text-indent: 3rem;  */
    text-indent: -1rem;
    margin-left: -2rem;
}

li:before {
    content: "☆ ";
    margin-right: 5px;
}

hr {
  border: 1px solid white;
  margin: 0;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb,
.contact_bg::-webkit-scrollbar-thumb {
  /* background: white; */
  border: 1px solid white;
  /* border-radius: 30px; */
}

/* TESTESTSTSTST */

/* TYPEFACE CSS */
.header,
.landing .menu,
.landing .subhead,
.about .intro {
  font-family: 'Terminal', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.landing .name,
.about .name {
  font-family: 'Basteleur', serif;
  font-weight: normal;
  font-style: normal;
}

/* TRANSITIONS - BLUR */
.landing .name,
.about,
.work,
.page {
  transition: filter 0.3s ease-in-out;
}

.landing .menu:hover ~ .name_container .name,
.header:hover ~ .contact_bg .about,
.header:hover ~ .work,
.header:hover ~ .page {
    filter: blur(8px) !important;
}

/* HEADER */
.header {
  width: 100vw;
  height:4em;
  padding: 1em 1.8em !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 250%);
  z-index: 9999;
}




/*
*
*
LANDING PAGE
*
*
*/

.landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header,
.landing {
  text-transform: uppercase;
  text-align: center;
}

.header,
.landing .menu,
.landing .subhead {
  /* font-family: 'Terminal', sans-serif; */
  font-size: 1.5em;
  padding: 0em 1.3em;
}

.landing .menu {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14vw;
}

.header a,
.landing .menu a {
  text-decoration: none;
  transition: all 0.25s linear;
  border: 1px solid transparent !important;
  border-radius: 100%;
  padding: .5em .8em;
  margin: calc(-.8em - 1px);
}

.header a:hover,
.landing .menu a:hover {
  border: 1px solid white !important;
  border-radius: 100%;
  padding: .5em .8em;
  margin: calc(-.8em - 1px);
}

.landing .name_container {
  margin: 30px 0em 35px 0em;
  padding: 20px 0 0 0;
  position: relative;
}

.landing .name_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url("img/assets/asset_1-2.jpg");
  filter: blur(0px) opacity(0.6) grayscale(1) contrast(1.2);
  background-size: 120%;
  background-position: 10% 60%;
}

.landing .name {
  position: relative;
  /* font-family: 'Basteleur', serif; */
  font-size: 12rem;
  line-height: 1em;
}

/*
*
*
CONTACT PAGE
*
*
*/
.contact_bg {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}
.contact_bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  filter: blur(0px) opacity(0.3) grayscale(1) contrast(1.2);
  background-image: url("img/assets/asset_1-2.jpg");
  background-size: cover;
  background-position: 10% 65%;
}

.about {
  width: 100%;
  margin-top: auto !important;
  padding: 7em 2em 4em 2em;
  position: relative;
  overflow-y: scroll;
}

.about .intro {
  /* font-family: 'Terminal', sans-serif; */
  font-size: 4.5rem;
  line-height: 0.95em;
  max-width: 15em;
}

.about .name {
  /* font-family: 'Basteleur', serif  !important; */
  font-weight: normal;
  font-style: normal;
  font-size: 4rem;
}

.about p {
  margin: 1.5em 0 0 0;
  max-width: 750px;
  line-height: 1.4em;
}

.about a,
.page .desc a{
  transition: all 0.15s ease-out;
  /* text-transform: uppercase; */
}

.about a:hover,
.page .desc a:hover {
  border: 1px solid white;
  text-decoration: none;
  border-radius: 100px;
  padding: 2px 15px;
}

/*
*
*
WORKS PAGE
*
*
*/
.work {
  padding: 7em 2em 4em 2em;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  justify-content: center;
  width: 100%;
  /* margin: 0 auto; */
  /* transition: all 0.5s ease-in-out; */
  /* border: 1px solid white; */
  overflow: hidden;
}

.work .proj {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  max-height: 450px;
  height: 100vh;
  /* border: 1px solid red; */
}

.work .image {
  height: 100%;
  max-height: 300px;
  max-width: 300px;
}

.work .image img {
  height: 100%;
  width: auto !important;
  /* width: 100%; */
  object-fit: contain;
  object-position: center;
}

.work .text {
  width: fit-content;
  /* border: 1px solid white; */
  display: flex;

}

.work .text h2,
.work .text p {
  margin: 0;
}

.work .text h2,
.work .text::before,
.work .text::after {
  font-size: 1.5rem;
}

.work a {
  text-decoration: none;
}

.work a:hover .text::before {
  content: "☆";
  margin-right: 8px;
  margin-top: 3px;
}
.work a:hover .text::after {
  content: "☆";
  margin-left: 8px;
  margin-top: 3px;
}

/*
*
PAGES - INDIVIDUAL
*
*/
.page {
  padding: 5em 2em 4em 2em;
  width: 100%;
  height: fit-content;
}

/* PAGE - TEXT PORTION */
.page .text,
.page .gallery {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

.page .title,
.page .divider {
  height: fit-content;
  text-align: center;
}

.page .title h1 {
  margin: 0 0 5px 0;
  line-height: 1em;
}
.page .title p {
  margin: 0;
}

.page .desc {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 0 auto;
}

.page .desc .summary {
 max-width: 900px;
}
.page .desc .info {
  min-width: 150px;
}
.page .desc .caption {
  max-width: 1050px;
}

.page .desc :first-child {
  margin-top: 0;
}
.page .desc :last-child {
  margin-bottom: 0;
}

/* PAGE - IMAGE PORTION */

/* PAGES - SLIDESHOW */
.page .slideshow {
  margin: 0 auto;
  max-width: 750px;
}

.page .slideshow img {
  object-fit: contain;
  object-position: center;
  height: auto;
  max-height: 600px;
}

.page .slideshow a {
  display: flex;
  align-items: center;
  outline: none;
}

/* PAGES - VIDEO + IMAGES*/
.page .video,
.page .images {
  display: flex;
  margin: 0 auto;
  max-width: 620px;
}

.page .images {
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.page .images a {
  display: flex;
  margin: 0 auto;
  text-decoration: none;
}

.page .images img {
  object-fit: contain;
  max-height: 600px;
}


.mobile {
  display: none;
}
.desktop {
}



/* RESPONSIVENESS RESPONSIVENESS RESPONSIVENESS */

@media screen and (max-width: 1320px) {
  /*
  *
  LANDING PAGE
  *
  */
  .landing .name {
    font-size: 9rem;
  }

  .landing .menu {
    width: ;
  }

  /*
  *
  CONTACT PAGE
  *
  */
  .about p,
  .about ul {
    width: 100%;
  }
  /*
  *
  WORKS PAGE
  *
  */
  .work {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  /* LANDING PAGE */
  /*
  *
  CONTACT PAGE
  *
  */
  .about .intro {
    font-size: 4rem;
    max-width: 100% !important;
  }
  .about .name {
    font-size: 3.5rem;
  }

}

@media screen and (max-width: 800px) {
  /*
  *
  LANDING PAGE
  *
  */
  .landing .name {
    font-size: 5.5rem;
  }

  /* CONTACT PAGE */
  .about .intro {
    font-size: 3.2rem;
  }
  .about .name {
    font-size: 2.7rem;
  }

  /* WORKS PAGE */
  .work {
    grid-template-columns: repeat(1, 1fr);
  }

  /* PAGES - INDIVIDUAL */
  .page .desc {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  /* HEADER */
  .header {
    padding: 1em 1.3em !important;
  }
  /* LANDING PAGE */
  .landing .name {
    font-size: 4.5rem;
  }

  .landing .menu {
    width: 100vw;
    gap: 0;
  }

  /* CONTACT PAGE */
  .about {
    /* word-spacing: 0.1em; */
    text-align: center;
    margin-bottom: auto !important;
  }
  .about .intro {
    font-size: 1.5rem;
    line-height: 1.4em;
  }
  .about .name,
  .page .title h1 {
    font-size: 2rem;
  }

  /* WORKS PAGE */
  .work {
    padding: 7em .5em 4em .5em;
  }

  /* PAGEs - INDIVIDUAL */
  .page {
    padding: 5em 1em 4em 1em;
  }

  .page .text,
  .divider {
    text-align: left !important;
  }

  .page .title h1:before {
    content: "☆ ";
  }

  .page .desc {
    flex-direction: column;
  }

  .page .info {
    /* text-align: center !important; */
  }
}

/* CUSTOM TYPEFACES */

@font-face {
  font-family: 'Terminal';
  src: url("fonts/terminal-grotesque.woff2") format("woff2"),
       url("fonts/terminal-grotesque.woff") format("woff"),
       url("fonts/terminal-grotesque.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Basteleur';
  src: url("fonts/Basteleur-Moonlight.woff2") format("woff2"),
       url("fonts/Basteleur-Moonlight.woff") format("woff"),
       url("fonts/Basteleur-Moonlight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
