* {
  box-sizing: border-box;
  cursor: crosshair;
  font-size: 100%;

}

*::selection {
  background-color: white;
  color: black;

}

html, body {
  background-color: black;
  font-family: monospace;
  color: white;
  margin: 0 auto;
  /* overflow: overlay; */
}

/* IDK WHAT 2 CALL THIS.. BUT Y'KNOW */

img, video {
  max-width:100%;
}

video {
  object-fit: fill;
}

a {
  /* color: red; */

}

a:hover, .link a:hover, .work a:hover{
  /* background-color: white; */
  /* color: black; */
  cursor: pointer;
  text-decoration: line-through;
  font-style: normal;
}

p {
  font-size: 1em;
  /* font-family: HappyTimesNG, serif; */
  font-family: monospace;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
  font-family: 'HappyTimesNG', serif ;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 auto;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 2em;
  text-transform: none;
}



ul {
    list-style: none;
    /* margin-left: -3em; */
    /* list-style-position: inside; */
    /* text-indent: 3rem;  */
    text-indent: -1rem;
    margin-left: -2rem;
}

li:before {
    content: "+";
    margin-right: 5px;
}

hr {
  border: 1px solid white;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: white;
}

/* TESTESTSTSTST */
.filler {
  height: 10000px;
  background: pink;
}

#test {
  /* display: none; */
}

/* HEADER + FOOTER */

.header, .footer {
  width: 100%;
  margin: 0 auto;
  /* padding: 20px; */
  display: flex;
  justify-content: space-between;
  align-content: center;
  overflow: hidden;
  z-index: 999;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* height: 10vh; */
  padding: 15px 20px;
  /* background: blue; */
}

.footer {
  position: fixed;
  bottom: 0;
  height: 70px;
  padding: 1rem;
  background: black;
  /* background: red; */
  justify-content: center;
}

.footer a:hover {
  text-decoration: none;
}

#code:after {
  content:'✶  ✶  ✶  ✶  ✶';
  /* line-height: 1; */
  /* margin-top: -1rem; */
}

#code:hover:after {
  content:'j / a / y / c / e';
  line-height: 1.5;
  cursor: pointer;
}

.link span {
  opacity: ;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.link span:hover {
  opacity: 1;

}

.link, .link a {
  /* background: pink; */
  color: white;
  text-decoration: none;
  /* margin: 0 auto; */
}



/* LANDING PAGE */

.landing {
  width: 100%;
  height: 85vh;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  /* background: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.landing #landing-name {
  font-family: 'HappyTimesNG', serif ;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 5em;
  text-align: center;
  line-height: 1;
  width: 80vw;
  /* background: pink; */
}

.landing .slideshow {
  display:flex;
  /* align-items: center; */
  width: 500px;
  height: 300px;
  overflow: hidden;
}

.slideshow #landing-slideshow {
  position: relative;
  width: 100%;
  /* align-self: center; */
  /* height: 300px; */
  /* outline: 2px solid white; */
  /* overflow: hidden; */
}

#landing-desc p{
  text-align: center;
  /* font-size: 1.5em; */
  /* font-style: italic; */
}

/* CONTACT PAGE */

.contact {
  width: auto;
  margin: 0 auto 120px auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  row-gap: 2rem;
  /* text-align: center; */
  /* background: gold; */
}

.contact .container {
  display: flex;
  width: 80vw;
  row-gap: 1rem;
  column-gap: 4rem;
  /* flex-direction: column; */
}

.contact ul {
  text-align: left;
}

.contact #name {
  line-height: 1;
  text-align: center;
  width: 90vw;
}

.contact .slideshow {
  display: flex;
  height: 350px;
  width: 300px;
  z-index: 1;
}

.slideshow .pic {
  width: 100%;
}

.slideshow .pic img {
  /* width: 100%; */
  align-self: center;
}

.contact #about, .contact #info, .contact #info-content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.contact #info a, .contact #highlight, .desc a {
  background: white;
  text-decoration: none;
  color: black;
}

.contact #info a:hover, .desc a:hover {
  background: none;
  text-decoration: line-through;
  color: white;
}

.contact #info a::selection, .contact #highlight::selection {
  background: black;
  color: white;
  text-decoration: underline;
  text-shadow: 3px 5px 2px white;
}

#smallscreen {
  display: none;
}

/* MAIN WORKS PAGE */

.work, .work-main {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 8em;
  overflow: hidden;
  /* background: gold; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8rem;
}

.work-main {
  width: 100%;
  flex-direction: row !important;
  flex-wrap: wrap;
  gap: 4em 4em;
  /* margin-top: 2em;
  margin-bottom: 8em; */

}

.work-main .project {
  width: 45vw !important;
  align-self: flex-start;
}

.project {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  row-gap: 1rem;
  width: 60vw;
}

.project .titledate {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.project .titledate a {
  color: white;
  text-decoration: underline;
}

.project .titledate a:hover {
  text-decoration: line-through;
}

.project .title {
  text-align: left;
}

.project p {
  margin: 0 auto;
}

.project .desc {
    text-transform: lowercase;
}

.desc .underline {
  text-decoration: underline;
}

.project .gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;

}

.gallery .box {
  /* height: 300px; */
  height: fit-content;
  display: flex;
  justify-content: center;
  align-content: center;
  /* background: none; */
}

.gallery .minislideshow {
  height: fit-content;
}

.gallery .box img {
  object-fit: cover;
  /* object-fit: contain; */
  align-self: center;

}

.gallery .fill {
  flex: 1;
}

/* GRID FOR INDIVIDUAL PAGES */
.grid {
  /* background: teal; */
  margin: 0 auto;
  width: 100%;
  height: fit-content;

}

.grid .box{
  float: left;
  width: fit-content;
  /* height: calc(25vw - 2rem); */
  height: fit-content;
  display: flex;
  justify-content: center;
  align-content: center;
  height: fit-content;
  /* outline: 2px dotted white; */
  margin-bottom: 2.5rem;
  z-index: 10;
}

.grid .box img {
    /* outline: 2px dotted white; */
}

.grid .box .video {
  object-fit: fill;
}

.grid .box-sizer2 {
  width: 50%;
}

.grid .box-sizer3 {
  width: 33.33%;
}

.grid .box-width1 {
  /* width: calc(60vw - 32px); */
  width: calc(30vw - 16px);
}

.grid .box-width2, {
  /* width: calc(40vw  - 16px); */
  width: calc(20vw  - 22px);
}

.grid .box-width-full {
  width: calc(60vw);
}

.grid .video-content {

}

#hidden {
  visibility: hidden;
  display: none;
}

.show {
  display: none;
}

/* lazysizes testing... */


/* RESPONSIVENESS RESPONSIVENESS RESPONSIVENESS */

@media screen and (max-width: 1300px) {

  .hide2 {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .work-main {
    flex-direction: column;
  }

  .work-main .project {
    align-self: flex-start;
    width: 80vw !important;
  }

  .hide2 {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .hide, .hide2 {
    display: none;
  }
  .show {
    display: block;
  }

  .header {
    height: fit-content;
    width: auto;
  }

  p, ul {
    font-size: 1.5em;
  }

  ul {
    text-indent: -1rem;
    margin-left: -1.5rem;
  }

  li:before {
    margin-right: 10px;
  }

  /* LANDING PAGE 800PX */

  .landing #landing-name, #name {
    font-size: 12vw;
  }

  .landing #landing-name {
    width: auto;
  }

  #landing-slideshow {
    width: 100vw;
  }

  /* CONTACT 800PX */
  .contact .container {
    flex-direction: column;
  }

  .contact #info {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    word-break: break-word;
    /* justify-content: space-between; */
    /* overflow: hidden; */
  }

  .contact .slideshow {
    height: 100px;
    width: 100px;
  }

  .slideshow .pic {
    width: 40vw;
  }

  #regular {
    display: none;
  }

  #smallscreen {
    display: contents;
  }


  /* WORKS 800PX */

  .project {
    width: 80vw;
  }

  .project .titledate {
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    align-items: flex-start;
  }

  .project .titledate a {
    text-decoration: underline;
  }
  .project .titledate a:hover {
    text-decoration: line-through;
  }

  /* GRIDS 800PX */

  .grid .box-width1 {
    /* width: calc(60vw - 32px); */
    width: calc(40vw - 16px);
  }

  .grid .box-width2 {
    /* width: calc(40vw  - 16px); */
    width: calc(26.66vw  - 21px);
  }

  .grid .box-width-full {
    width: calc(80vw);
  }

}

@media screen and (max-width: 500px) {
  .header {
    /* flex-direction: column; */
    /* height: 20vh; */
    height: fit-content;
    text-align: center;
    /* padding: 10px 0; */
    /* row-gap: .5rem; */
    /* position: relative; */
    bottom: 0;
    background: black;

  }

  /* LANDING */
  .landing {
    /* height: 80vh; */
  }

  /* CONTACT 500PX */
  .contact #info {
    display: flex;
    flex-direction: column;
    column-gap: 3rem;
    word-break: break-word;
    /* justify-content: space-between; */
    /* overflow: hidden; */
  }

  /* MAIN WORKS 500PX */

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .project .gallery {
    grid-gap:1rem;
  }

  .gallery .box {
    width: 100%;
  }

  /* GRIDS 500PX */
  .grid .box-width1, .grid .box-width2 {
    /* width: calc(60vw - 32px); */
    /* width: calc(80vw); */
  }

}

/* CUSTOM TYPEFACES */

@font-face {
  font-family: 'HappyTimesNG';
  src: url("fonts/happy-times-NG_regular_master_web.woff2") format("woff2"),
       url("fonts/happy-times-NG_regular_master_web.woff") format("woff"),
       url("fonts/happy-times-NG_regular_master_web.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HappyTimesNG';
  src: url("fonts/happy-times-NG_bold_master_web.woff2") format("woff2"),
       url("fonts/happy-times-NG_bold_master_web.woff") format("woff"),
       url("fonts/happy-times-NG_bold_master_web.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HappyTimesNG';
  src: url("fonts/happy-times-NG_italic_master_web.woff2") format("woff2"),
       url("fonts/happy-times-NG_italic_master_web.woff") format("woff"),
       url("fonts/happy-times-NG_italic_master_web.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
